/* General Styling */
.root {
    -fx-background-color: #2D3748; /* Dark gray background */
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}

/* Label Styling */
.label {
    -fx-text-fill: #E2E8F0; /* Light gray text */
}

/* Button Styling */
.button {
    -fx-background-color: #4A5568;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 8 15 8 15;
    -fx-font-weight: bold;
}
.button:hover {
    -fx-background-color: #2D3748;
}
.button:pressed {
    -fx-background-color: #1A202C;
}

/* Text Field Styling */
.text-field {
    -fx-background-color: #4A5568;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-color: #718096;
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #A0AEC0;
}
.text-field:focused {
    -fx-border-color: #63B3ED;
}

/* TableView Styling */
.table-view {
    -fx-background-color: #4A5568;
    -fx-border-color: #718096;
    -fx-border-radius: 5;
}
.table-view .column-header-background {
    -fx-background-color: #2D3748;
}
.table-view .column-header, .table-view .filler {
    -fx-background-color: #2D3748;
    -fx-border-color: transparent transparent #718096 transparent;
    -fx-size: 40;
}
.table-view .column-header .label {
    -fx-text-fill: #E2E8F0;
    -fx-font-weight: bold;
}
.table-view .table-cell {
    -fx-text-fill: #E2E8F0;
    -fx-border-color: transparent transparent #718096 transparent;
    -fx-padding: 8px;
}
.table-view .table-row-cell {
    -fx-background-color: #4A5568;
}
.table-view .table-row-cell:odd {
    -fx-background-color: #404c5e;
}
.table-view .table-row-cell:selected {
    -fx-background-color: #63B3ED;
    -fx-text-fill: #1A202C;
}

/* TabPane Styling */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #2D3748;
}
.tab-pane .tab {
    -fx-background-color: #4A5568;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab-pane .tab:selected {
    -fx-background-color: #1A202C;
}
.tab-pane .tab .tab-label {
    -fx-text-fill: #E2E8F0;
    -fx-font-weight: bold;
}
.tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;
}
